[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
rope = "*"
pytest = "*"

[packages]
numpy = "*"
sklearn = "*"
networkx = "*"
joblib = "*"

[requires]
python_version = "3.7"
